body {
    background-color: black;
    color: white;
}

li {background-color: white;
    color: black;
    padding: 25px, 25px, 25px, 25px;
    border: solid black;
    border-width: 1px;
    width: 200px;
    display: flex;
    justify-content: center;
}